.Game-board {
  text-align: center;
  max-width: 500px;
  margin: 0 auto 10%;
}

.Game-header {
  height: 50px;
  padding: 20px;
}

.Game-title {
  font-size: 1.5em;
}

.Game-status {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  color: #707070;
  margin: 10px 25px;

}

.Card-easy {
  display: flex;
  margin-bottom: 10px;      
  margin-left: 10px;  
  width: 100px;
  border-radius: 50%;    
  cursor: pointer;
}



.Matched {
  border-color: #ff6700;
}

.Card-container {
  display: flex;
  flex-flow: row wrap;
  /* width: 330px; */
  justify-content: center;
  margin: 0 auto;
}

.Lvl-button button {
  padding: 3px 15px 3px 15px; 
  margin-right: 20px;
  margin-bottom: 10px;
  background: #ff6700;
  cursor: pointer;
  border-radius: 10px;
} 

.Lvl-button button:hover {
  color: #ff6700;
  background: #fff;
  font-weight: bold;
  border-color: #ff6700;
}

.Turns {

}