.card-component {
  border: none;
  color: white;
  /* padding: 20px;*/
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  margin: 19px 26.5px;
  margin-bottom: 35px;
  cursor: pointer;
  border-radius: 50%;
  width: 82pt;
  height: 82pt;
  background-color: #77b800; /* Green */
}
.easy-hard-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hard{
  background-color: #f77521;
}
.orange-b {
  color: #f77521;
}
