.button-component {
  color: white;
  font-family: 'Inknut Antiqua';
  font-weight: 900;
  letter-spacing: .1mm;
  background: #f26114;
  border-radius: 17px;
  border: none;
  width: 251px;
  height: 72px;
  font-size: 16px;
  line-height: 42px;
  padding: 12px 22px;
  text-align: center;
}

.button-component:focus {
  background-color: rgb(251, 168, 92);
}

.button-component:disabled {
  background-color: hsl(20.8, 40.5%, 51.4%);
}

.homebutton {
  text-align: center;
  margin: 20% auto;
}

.SmørrebrødButton {
  text-align: center;
  margin: 10% auto 0;
}
.WienerbrødButton {
  text-align: center;
  margin: 10% auto 12%;
}
.pickGameButton {
  text-align: center;
}
.quitGame,
.changeMeals {
  text-align: center;
  margin: 0 auto 10%;
}
.pressToContinue {
  text-align: center;
  margin-bottom: 5%;
}
