#opaqueScreen {
    display: flex;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,.4);
    position: absolute;
    justify-content: center;
    align-items: center;
    top:0;
    right:0;
    z-index: 1;
}
#alert-message {
background-color:white;
justify-content: center;
align-items: center;
flex-direction: column;
border-radius: 20px;
display: flex;
padding:20px;
z-index: 2;
}